body {
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar {
  background: #fff;
}

.navbar-metadata {
  float: right;
  margin-top: 15px;
}

.jumbotron .banner {
  margin: 0 auto;
  display: block;
}

.user-display-name {

}
.user-game-id {
  color: #aaa;
}

.server-name {
  font-weight: bold;
}

.server-address {

}

.jumbotron .tagline {
  /* FIXME: center this content... */;
}
